In [1]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\bbukulin\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\bbukulin\anaconda3\lib\site-packages (from geopy) (2.0)

In [3]:
import pandas as pd
from geopy.geocoders import Nominatim
import time

In [4]:
data = pd.read_csv("cleaned_qatar_airways_reviews.csv")

In [5]:
# Inicijalizacija geolokatora
geolocator = Nominatim(user_agent="geoapiExercises")

In [6]:
# Dohvaćanje koordinata
def get_coordinates(city):
    location = geolocator.geocode(city)
    return (location.latitude, location.longitude) if location else (None, None)

In [11]:
# Jedinstvene vrijednosti gradova
cities = pd.concat([data['From'], data['To'], data['Via']]).unique()

In [12]:
# Dohvaćanje koordinata za sve gradove
coordinates = {}
for city in cities:
    coordinates[city] = get_coordinates(city)
    time.sleep(1)  # Pauza kako ne bi preopteretili API

In [13]:
# Stvaranje dataframe-a s koordinatama
coords_df = pd.DataFrame(coordinates).T.reset_index()
coords_df.columns = ['City', 'Latitude', 'Longitude']

In [14]:
# Spajanje koordinata natrag u originalni dataset
data = data.merge(coords_df, left_on='From', right_on='City').rename(columns={'Latitude': 'FromLat', 'Longitude': 'FromLon'}).drop('City', axis=1)
data = data.merge(coords_df, left_on='To', right_on='City').rename(columns={'Latitude': 'ToLat', 'Longitude': 'ToLon'}).drop('City', axis=1)
data = data.merge(coords_df, left_on='Via', right_on='City').rename(columns={'Latitude': 'ViaLat', 'Longitude': 'ViaLon'}).drop('City', axis=1)

In [15]:
data.to_csv('cleaned_qatar_airways_reviews_with_coords.csv', index=False)

In [5]:
data_via = pd.read_csv("cleaned_qatar_airways_reviews_with_coords.csv")

# Updating the values in the 'ViaLat' and 'ViaLon' columns to None if 'Via' is 'Direct'
data_via.loc[data_via['Via'] == 'Direct', ['ViaLat', 'ViaLon']] = None

# Save the updated DataFrame back to a CSV file
data_via.to_csv('updated_cleaned_qatar_airways_reviews_with_coords.csv', index=False)

In [6]:
data_via.head()

,Date Published,Rating,Max Rating,Author,Country,Title,Review Body,Type Of Traveller,Seat Type,Date Flown,...,Via,To,Verified,Recommended,FromLat,FromLon,ToLat,ToLon,ViaLat,ViaLon
0,2024-02-29,1.0,10.0,Wayne Burgess,Australia,"""no attempt to address our complaint""",I have sent 5 emails and have only received ...,Business,Economy Class,November 2023,...,Direct,Perth,1.0,no,25.285633,51.526416,-31.955893,115.860585,NaN,NaN
1,2018-06-28,10.0,10.0,Mohammad Faizal,United Kingdom,"""give a five star experience""",Travelled in Qatar First class (Doha to Pert...,Solo Leisure,First Class,June 2018,...,Direct,Perth,1.0,Yes,25.285633,51.526416,-31.955893,115.860585,NaN,NaN
2,2017-12-07,7.0,10.0,Stephan Stegner,Germany,"""was a pleasant flight for us""",Doha to Perth. It was a pleasant flight for ...,Couple Leisure,Economy Class,October 2017,...,Direct,Perth,1.0,no,25.285633,51.526416,-31.955893,115.860585,NaN,NaN
3,2015-10-17,10.0,10.0,Malcolm Caird,France,"""outstanding throughout""",Flew Qatar Airways business class for the firs...,Couple Leisure,Business Class,October 2015,...,Direct,Perth,0.0,Yes,49.006891,2.571082,-31.955893,115.860585,NaN,NaN
4,2024-02-25,10.0,10.0,Alwaleed Althani,Qatar,“I hope they update the A380”,We flew on probably the first A380 the airlin...,Couple Leisure,First Class,February 2024,...,Direct,London,1.0,Yes,25.285633,51.526416,51.507446,-0.127765,NaN,NaN